{% extends "nav.html" %}
{% load static %}
{% block content %}
<title>Accessories Wishlist</title>
<style>
    /* CSS for wishlist container */
    #wishlist-container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    
    .wishlist-item {
        display: flex;
        align-items: center;
    }
    
    .wishlist-item-image {
        margin-right: 20px;
    }
    
    .wishlist-item-image img {
        max-width: 200px; /* Adjust width as needed */
        height: auto;
    }
    
    .wishlist-item-details {
        flex: 1;
    }
    
    .add-to-cart-btn {
        margin-top: 10px;
        display: block;
        background-color: #435ebe;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .add-to-cart-btn:hover {
        background-color: #45a049;
    }
    </style>
    
    <div id="wishlist-container">
        {% if user_wishlist_items %}
            {% for item in user_wishlist_items %}
                <div class="wishlist-item">
                    <div class="wishlist-item-image">
                        {% if item.accessories.first.images.first %}
                            <img src="{{ item.accessories.first.images.first.image1.url }}" alt="Accessory Image">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </div>
                    <div class="wishlist-item-details">
                        <h2>Product {{ forloop.counter }}</h2>
                        {% for accessory in item.accessories.all %}
                            <p>Accessory Name: {{ accessory.accessory_name }}</p>
                            <p>Description: {{ accessory.description }}</p>
                        {% endfor %}
                        <button class="add-to-cart-btn">Add to Cart</button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No items in your wishlist.</p>
        {% endif %}
    </div>

{% endblock %}

