{% extends "nav.html" %}
{% load static %}
{% block content %}
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Shopping Cart</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container col1-layout wow bounceInUp animated">     
    <div class="main">                     
        <div class="cart wow bounceInUp animated">
            <div class="table-responsive shopping-cart-tbl container">
                <form action="{% url 'accessory_payment' %}" method="POST">
                    {% csrf_token %}
                    <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                    <fieldset>
                        <table id="shopping-cart-table" class="data-table cart-table table-striped">
                            <colgroup>
                                <col width="1">
                                <col>
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                            </colgroup>
                            <thead>
                                <tr class="first last">
                                    <th rowspan="1">&nbsp;</th>
                                    <th rowspan="1"><span class="nobr">Product Name</span></th>
                                    <th rowspan="1"></th>
                                    <th class="a-center" colspan="1"><span class="nobr">Unit Price</span></th>
                                    <th rowspan="1" class="a-center">Qty</th>
                                    <th class="a-center" colspan="1">Subtotal</th>
                                    <th rowspan="1" class="a-center">&nbsp;</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="first last">
                                    <td colspan="50" class="a-right last">
                                        <button type="button" title="Continue Shopping" class="button btn-continue" onClick="window.location.href='{% url 'accessory_view' %}'"><span><span>Continue Shopping</span></span></button>
                                        <button type="submit" title="Pay Now" class="button btn-update">
                                            <span>Pay Now</span>
                                        </button>
                                        {% comment %} 
                                        <button type="submit" name="update_cart_action" value="empty_cart" title="Clear Cart" class="button btn-empty" id="empty_cart_button"><span><span>Clear Cart</span></span></button>
                                        {% endcomment %}
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for item in cart_items %}
                                <tr class="first last odd">
                                    <td class="image hidden-table"><a href="{{ item.accessory.get_absolute_url }}" title="{{ item.accessory.accessory_name }}" class="product-image"><img src="{{ item.accessory.images.first.image1.url }}" width="75" alt="{{ item.accessory.accessory_name }}"></a></td>
                                    <td>
                                        <h2 class="product-name">
                                            <a href="{{ item.accessory.get_absolute_url }}">{{ item.accessory.accessory_name }}</a>
                                        </h2>
                                    </td>
                                    <td class="a-center hidden-table">
                                        <a href="#" class="edit-bnt" title="Edit item parameters"></a>
                                    </td>
                                    <td class="a-right hidden-table">
                                        <span class="cart-price">
                                            <span class="price">{{ item.accessory.price }}</span>                
                                        </span>
                                    </td>
                                    <td class="a-center movewishlist">
                                        <input name="cart[{{ item.id }}][qty]" value="{{ item.quantity }}" size="4" title="Qty" class="input-text qty" maxlength="12">
                                    </td>
                                    <td class="a-right movewishlist">
                                        <span class="cart-price">
                                            <span class="price">{{ item.accessory.price }}</span>                            
                                        </span>
                                    </td>
                                    <td class="a-center last">
                                        <a href="{% url 'remove_from_cart' item.id %}" title="Remove item" class="button remove-item"><span><span>Remove item</span></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>  <!--cart-->
    </div><!--main-container-->
</div> <!--col1-layout-->
{% endblock %}
