{% extends "nav.html" %}
{% load static %}
{% block content %}
<section class=" wow bounceInUp animated">
    <div class="hot_deals slider-items-products container">
      <div class="new_title">
        <h2>Deals of the Week</h2>
        <div class="box-timer">
          <div class="countbox_1 timer-grid"></div>
        </div>
      </div>
      <div id="hot_deals" class="product-flexslider hidden-buttons">
        <div class="slider-items slider-width-col4 products-grid">
          {% for car in available_cars %}
          <div class="item">
            <div class="item-inner">
              <div class="item-img">
                <div class="item-img-info"><a href="accessories-detail.html" title="Retis lapen casen" class="product-image"><img src="{{ car.image_1.url }}" alt="Retis lapen casen"></a>
                  <div class="new-label new-top-left">Used</div>
                  {% comment %} <div class="sale-label sale-top-left">-15%</div> {% endcomment %}
                  <div class="item-box-hover">
                    <div class="box-inner">
                      {% comment %} <div class="add_cart">
                        <button class="button btn-cart" type="button"></button>
                      </div> {% endcomment %}
                      <div class="product-detail-bnt"><a href="{% url 'cardetail' car.id %}" class="button detail-bnt"><span>Quick View</span></a></div>
                      <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> </span> </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-info">
                <div class="info-inner">
                  <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">{{ car.make }} {{ car.model }} </a> </div>
                  <div class="item-content">
                    <div class="rating">
                      <div class="ratings">
                        <div class="rating-box">
                          <div class="rating" style="width:80%"></div>
                        </div>
                        <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                      </div>
                    </div>
                    <div class="item-price">
                      <div class="price-box"><span class="regular-price"><span class="price">{{ car.price }}</span> </span> </div>
                    </div>
                    <div class="other-info">
                      <div class="col-km"><i class="fa fa-tachometer"></i>{{ car.kilometer_driven }}</div>
                      <div class="col-engine"><i class="fa fa-gear"></i>{{ car.transmission_type }}</div>
                      <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i>{{ car.year }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            <p>No available cars at the moment.</p>
          {% endfor %}  
        </div>
      </div>
    </div>
  </section>
{% endblock %}